// ================ start footer Area =================
footer.footer-area.section-gap
  .container
    .row
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Top Products
        ul
          li
            a(href='#') Managed Website
          li
            a(href='#') Manage Reputation
          li
            a(href='#') Power Tools
          li
            a(href='#') Marketing Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Quick Links
        ul
          li
            a(href='#') Jobs
          li
            a(href='#') Brand Assets
          li
            a(href='#') Investor Relations
          li
            a(href='#') Terms of Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Features
        ul
          li
            a(href='#') Jobs
          li
            a(href='#') Brand Assets
          li
            a(href='#') Investor Relations
          li
            a(href='#') Terms of Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Resources
        ul
          li
            a(href='#') Guides
          li
            a(href='#') Research
          li
            a(href='#') Experts
          li
            a(href='#') Agencies
      .col-xl-4.col-md-8.mb-4.mb-xl-0.single-footer-widget
        h4 Newsletter
        p You can trust us. we only send promo offers,
        #mc_embed_signup.form-wrap
          form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
            .input-group
              input.form-control(type='email' name='EMAIL' placeholder='Your Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '")
              .input-group-append
                button.btn.click-btn(type='submit')
                  i.ti-arrow-right
            div(style='position: absolute; left: -5000px;')
              input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
            .info
    .footer-bottom.row.align-items-center.text-center.text-lg-left
      p.footer-text.m-0.col-lg-8.col-md-12
        //- // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        //- | Copyright &copy;
        //- script.
        //-   document.write(new Date().getFullYear());
        //- |  All rights reserved | This template is made with 
        //- i.ti-heart(aria-hidden='true')
        //- |  by 
        //- a(href='https://colorlib.com' target='_blank') Colorlib
        //- // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-4.col-md-12.text-center.text-lg-right.footer-social
        a(href='#')
          i.ti-facebook
        a(href='#')
          i.ti-twitter-alt
        a(href='#')
          i.ti-dribbble
        a(href='#')
          i.ti-linkedin
// ================ End footer Area =================
script(src='vendors/jquery/jquery-3.2.1.min.js')
script(src='vendors/bootstrap/bootstrap.bundle.min.js')
script(src='vendors/owl-carousel/owl.carousel.min.js')
script(src='vendors/nice-select/jquery.nice-select.min.js')
script(src='vendors/Magnific-Popup/jquery.magnific-popup.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
