
header.header-area
  .container
    .header-wrap
      .header-top.d-flex.justify-content-between.align-items-center.navbar-expand-md
        .col.menu-left
          a.active(href='index.html') Home
          a(href='menu.html') menu
          a(href='about.html') about
        .col-3.logo
          a(href='index.html')
            //img.mx-auto(src='img/logo.png' alt='')
        nav.col.navbar.navbar-expand-md.justify-content-end
          // Toggler/collapsibe Button
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar')
            span.lnr.lnr-menu
          // Navbar links
          #collapsibleNavbar.collapse.navbar-collapse.menu-right
            ul.navbar-nav.justify-content-center.w-100
              li.nav-item.hide-lg
                a.nav-link(href='index.html') Home
              li.nav-item.hide-lg
                a.nav-link(href='menu.html') menu
              li.nav-item.hide-lg
                a.nav-link(href='about.html') about
              // Dropdown
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
                  | Pages
                .dropdown-menu
                  a.dropdown-item(href='contact.html') Contact
                  a.dropdown-item(href='elements.html') Elements
              li.nav-item.dropdown
                a#navbardrop.nav-link.dropdown-toggle(href='#' data-toggle='dropdown')
                  | Blog
                .dropdown-menu
                  a.dropdown-item(href='blog-home.html') Blog
                  a.dropdown-item(href='blog-single.html') Blog Detail
              li.nav-item
                a.nav-link(href='gallery.html') Gallery

								
//- .navbar.navbar-light.fixed-top.navbar-expand-lg
//-   .container
//-     a.navbar-brand(href='/')
//-       i.fas.fa-cube
//-       | Project name
//-     button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//-       span.sr-only Toggle navigation
//-       span.navbar-toggler-icon
//-     .collapse.navbar-collapse
//-       ul.nav.navbar-nav
//-         li.nav-item(class=(title === 'Home') ? 'active' : undefined)
//-           a.nav-link(href='/') Home
//-         li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
//-           a.nav-link(href='/api') API Examples
//-         li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
//-           a.nav-link(href='/contact') Contact
//-         li.nav-item(class=(title === 'Status') ? 'active' : undefined)
//-           a.nav-link(href='/status') Status
//-       ul.nav.navbar-nav.ml-auto
//-         if !user
//-           li.nav-item(class=(title === 'Login') ? 'active' : undefined)
//-             a.nav-link(href='/login') Login
//-           li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
//-             a.nav-link(href='/signup') Create Account
//-         else
//-           li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
//-             a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
//-               if user.profile.picture
//-                 img(src=user.profile.picture)
//-               else
//-                 img(src=user.gravatar(60))
//-               span= user.profile.name || user.email || user.id
//-               i.caret
//-             ul.dropdown-menu
//-               li.dropdown-item
//-                 a(href='/account') My Account
//-               li.divider.dropdown-item
//-               li.dropdown-item
//-                 a(href='/logout') Logout
