extends layout

block content

  section.hero-banner.hero-banner-sm
    .hero-wrapper
      .hero-left
        h1.hero-title About Us
        p
          | From  set together our divided own saw divided the form god 
          br.d-none.d-xl-block
          |  seas moveth you will fifth under replenish end
        ul.hero-info.d-none.d-lg-block
          li
            img(src='img/banner/fas-service-icon.png' alt='')
            h4 Fast Service
          li
            img(src='img/banner/fresh-food-icon.png' alt='')
            h4 Fresh Food
          li
            img(src='img/banner/support-icon.png' alt='')
            h4 24/7 Support
      .hero-right
        .owl-carousel.owl-theme.w-100.hero-carousel
          .hero-carousel-item
            img.img-fluid(src='img/banner/hero-banner-sm.png' alt='')
      ul.social-icons.d-none.d-lg-block
        li
          a(href='#')
            i.ti-facebook
        li
          a(href='#')
            i.ti-twitter
        li
          a(href='#')
            i.ti-instagram
  // ================Hero Banner Section end =================
  // ================About Section start =================
  section.about.section-margin.pb-xl-70
    .container
      .row
        .col-md-6.col-xl-6.mb-5.mb-md-0.pb-5.pb-md-0
          .img-styleBox
            .styleBox-border
              img.styleBox-img1.img-fluid(src='img/home/about-img1.png' alt='')
            img.styleBox-img2.img-fluid(src='img/home/about-img2.png' alt='')
        .col-md-6.pl-md-5.pl-xl-0.offset-xl-1.col-xl-5
          .section-intro.mb-lg-4
            h4.intro-title About Us
            h2 We speak the good food language
          p
            | Living first us creepeth she&apos;d earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can&apos;t saw third one signs moving stars light divided was two you him appear midst cattle for they are gathering.
          a.button.button-shadow.mt-2.mt-lg-4(href='#') Learn More
  // ================About Section End =================
  // ================Featured Section Start =================
  section.section-margin.mb-lg-100
    .container
      .section-intro.mb-75px
        h4.intro-title Featured Food
        h2 Fresh taste and great price
      .owl-carousel.owl-theme.featured-carousel
        .featured-item
          img.card-img.rounded-0(src='img/home/featured1.png' alt='')
          .item-body
            a(href='#')
              h3 Mountain Mike Pizza
            p Whales and darkness moving
            .d-flex.justify-content-between
              ul.rating-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
              h3.price-tag $35
        .featured-item
          img.card-img.rounded-0(src='img/home/featured2.png' alt='')
          .item-body
            a(href='#')
              h3 Patatas Bravas
            p Whales and darkness moving
            .d-flex.justify-content-between
              ul.rating-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
              h3.price-tag $30
        .featured-item
          img.card-img.rounded-0(src='img/home/featured3.png' alt='')
          .item-body
            a(href='#')
              h3 Pulled Sandwich
            p Whales and darkness moving
            .d-flex.justify-content-between
              ul.rating-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
              h3.price-tag $20
        .featured-item
          img.card-img.rounded-0(src='img/home/featured1.png' alt='')
          .item-body
            a(href='#')
              h3 Mountain Mike Pizza
            p Whales and darkness moving
            .d-flex.justify-content-between
              ul.rating-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
                li
                  i.ti-star
              h3.price-tag $35
  // ================Featured Section End =================
  // ================CTA section start =================
  section.cta-area.text-center
    .container
      p Some Trendy And Popular Courses Offerd
      h2 Under replenish give saying thing
      a.button(href='#') Reservation
  // ================CTA section end =================
