extends layout

block content
  // ================Hero Banner Section start =================
  section.hero-banner.hero-banner-sm
    .hero-wrapper
      .hero-left
        h1.hero-title Contact Us
        p
          | From  set together our divided own saw divided the form god 
          br.d-none.d-xl-block
          |  seas moveth you will fifth under replenish end
        ul.hero-info.d-none.d-md-block
          li
            img(src='img/banner/fas-service-icon.png' alt='')
            h4 Fast Service
          li
            img(src='img/banner/fresh-food-icon.png' alt='')
            h4 Fresh Food
          li
            img(src='img/banner/support-icon.png' alt='')
            h4 24/7 Support
      .hero-right
        .owl-carousel.owl-theme.w-100.hero-carousel
          .hero-carousel-item
            img.img-fluid(src='img/banner/hero-banner-sm.png' alt='')
      ul.social-icons.d-none.d-lg-block
        li
          a(href='#')
            i.ti-facebook
        li
          a(href='#')
            i.ti-twitter
        li
          a(href='#')
            i.ti-instagram
  // ================Hero Banner Section end =================
  // ================ contact section start =================
  section.section-margin
    .container
      .d-none.d-sm-block.mb-5.pb-4
        #map(style='height: 480px;')
        script.
          function initMap() {
          var uluru = {lat: -25.363, lng: 131.044};
          var grayStyles = [
          {
          featureType: "all",
          stylers: [
          { saturation: -90 },
          { lightness: 50 }
          ]
          },
          {elementType: 'labels.text.fill', stylers: [{color: '#A3A3A3'}]}
          ];
          var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -31.197, lng: 150.744},
          zoom: 9,
          styles: grayStyles,
          scrollwheel:  false
          });
          }
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap')
      .row
        .col-12
          h2.contact-title Get in Touch
        .col-lg-8
          form#contactForm.form-contact.contact_form(action='/contact' method='post' novalidate='novalidate')
            .row
              .col-12
                .form-group
                  textarea#message.form-control.w-100(name='postMessage' cols='30' rows='9' placeholder='Enter Message')
              .col-sm-6
                .form-group
                  input#name.form-control(name='contactName' type='text' placeholder='Enter your name')
              .col-sm-6
                .form-group
                  input#email.form-control(name='emailAddress' type='email' placeholder='Enter email address')
              .col-12
                .form-group
                  input#subject.form-control(name='subjectText' type='text' placeholder='Enter Subject')
            .form-group.mt-3
              button.button.button-contactForm(type='submit') Send Message
        .col-lg-4
          .media.contact-info
            span.contact-info__icon
              i.ti-home
            .media-body
              h3 Buttonwood, California.
              p Rosemead, CA 91770
          .media.contact-info
            span.contact-info__icon
              i.ti-tablet
            .media-body
              h3
                a(href='tel:454545654') 00 (440) 9865 562
              p Mon to Fri 9am to 6pm
          .media.contact-info
            span.contact-info__icon
              i.ti-email
            .media-body
              h3
                a(href='mailto:support@colorlib.com') support@colorlib.com
              p Send us your query anytime!
  // ================ contact section end =================
