doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Sneaky Restaurant - Contact
  link(rel='icon' href='img/Fevicon.png' type='image/png')
  link(rel='stylesheet' href='vendors/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='vendors/themify-icons/themify-icons.css')
  link(rel='stylesheet' href='vendors/owl-carousel/owl.theme.default.min.css')
  link(rel='stylesheet' href='vendors/owl-carousel/owl.carousel.min.css')
  link(rel='stylesheet' href='vendors/Magnific-Popup/magnific-popup.css')
  link(rel='stylesheet' href='css/style.css')
// ================ Header Menu Area start =================
header.header_area
  .main_menu
    nav.navbar.navbar-expand-lg.navbar-light
      .container.box_1620
        a.navbar-brand.logo_h(href='index.html')
          img(src='img/logo.png' alt='')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #navbarSupportedContent.collapse.navbar-collapse.offset
          ul.nav.navbar-nav.menu_nav.justify-content-end
            li.nav-item
              a.nav-link(href='index.html') Home
            li.nav-item
              a.nav-link(href='about.html') About
            li.nav-item
              a.nav-link(href='menu.html') Menu
            li.nav-item
              a.nav-link(href='chef.html') Chef
            li.nav-item.submenu.dropdown
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Blog
              ul.dropdown-menu
                li.nav-item
                  a.nav-link(href='blog.html') Blog Single
                li.nav-item
                  a.nav-link(href='blog-details.html') Blog Details
            li.nav-item.active
              a.nav-link(href='contact.html') Contact
// ================Header Menu Area =================
// ================Hero Banner Section start =================
section.hero-banner.hero-banner-sm
  .hero-wrapper
    .hero-left
      h1.hero-title Contact Us
      p
        | From  set together our divided own saw divided the form god 
        br.d-none.d-xl-block
        |  seas moveth you will fifth under replenish end
      ul.hero-info.d-none.d-md-block
        li
          img(src='img/banner/fas-service-icon.png' alt='')
          h4 Fast Service
        li
          img(src='img/banner/fresh-food-icon.png' alt='')
          h4 Fresh Food
        li
          img(src='img/banner/support-icon.png' alt='')
          h4 24/7 Support
    .hero-right
      .owl-carousel.owl-theme.w-100.hero-carousel
        .hero-carousel-item
          img.img-fluid(src='img/banner/hero-banner-sm.png' alt='')
    ul.social-icons.d-none.d-lg-block
      li
        a(href='#')
          i.ti-facebook
      li
        a(href='#')
          i.ti-twitter
      li
        a(href='#')
          i.ti-instagram
// ================Hero Banner Section end =================
// ================ contact section start =================
section.section-margin
  .container
    .d-none.d-sm-block.mb-5.pb-4
      #map(style='height: 480px;')
      script.
        function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var grayStyles = [
        {
        featureType: "all",
        stylers: [
        { saturation: -90 },
        { lightness: 50 }
        ]
        },
        {elementType: 'labels.text.fill', stylers: [{color: '#A3A3A3'}]}
        ];
        var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -31.197, lng: 150.744},
        zoom: 9,
        styles: grayStyles,
        scrollwheel:  false
        });
        }
      script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap')
    .row
      .col-12
        h2.contact-title Get in Touch
      .col-lg-8
        form#contactForm.form-contact.contact_form(action='contact_process.php' method='post' novalidate='novalidate')
          .row
            .col-12
              .form-group
                textarea#message.form-control.w-100(name='message' cols='30' rows='9' placeholder='Enter Message')
            .col-sm-6
              .form-group
                input#name.form-control(name='name' type='text' placeholder='Enter your name')
            .col-sm-6
              .form-group
                input#email.form-control(name='email' type='email' placeholder='Enter email address')
            .col-12
              .form-group
                input#subject.form-control(name='subject' type='text' placeholder='Enter Subject')
          .form-group.mt-3
            button.button.button-contactForm(type='submit') Send Message
      .col-lg-4
        .media.contact-info
          span.contact-info__icon
            i.ti-home
          .media-body
            h3 Buttonwood, California.
            p Rosemead, CA 91770
        .media.contact-info
          span.contact-info__icon
            i.ti-tablet
          .media-body
            h3
              a(href='tel:454545654') 00 (440) 9865 562
            p Mon to Fri 9am to 6pm
        .media.contact-info
          span.contact-info__icon
            i.ti-email
          .media-body
            h3
              a(href='mailto:support@colorlib.com') support@colorlib.com
            p Send us your query anytime!
// ================ contact section end =================
// ================ start footer Area =================
footer.footer-area.section-gap
  .container
    .row
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Top Products
        ul
          li
            a(href='#') Managed Website
          li
            a(href='#') Manage Reputation
          li
            a(href='#') Power Tools
          li
            a(href='#') Marketing Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Quick Links
        ul
          li
            a(href='#') Jobs
          li
            a(href='#') Brand Assets
          li
            a(href='#') Investor Relations
          li
            a(href='#') Terms of Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Features
        ul
          li
            a(href='#') Jobs
          li
            a(href='#') Brand Assets
          li
            a(href='#') Investor Relations
          li
            a(href='#') Terms of Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Resources
        ul
          li
            a(href='#') Guides
          li
            a(href='#') Research
          li
            a(href='#') Experts
          li
            a(href='#') Agencies
      .col-xl-4.col-md-8.mb-4.mb-xl-0.single-footer-widget
        h4 Newsletter
        p You can trust us. we only send promo offers,
        #mc_embed_signup.form-wrap
          form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
            .input-group
              input.form-control(type='email' name='EMAIL' placeholder='Your Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '")
              .input-group-append
                button.btn.click-btn(type='submit')
                  i.ti-arrow-right
            div(style='position: absolute; left: -5000px;')
              input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
            .info
    .footer-bottom.row.align-items-center.text-center.text-lg-left
      p.footer-text.m-0.col-lg-8.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.ti-heart(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com' target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-4.col-md-12.text-center.text-lg-right.footer-social
        a(href='#')
          i.ti-facebook
        a(href='#')
          i.ti-twitter-alt
        a(href='#')
          i.ti-dribbble
        a(href='#')
          i.ti-linkedin
// ================ End footer Area =================
script(src='vendors/jquery/jquery-3.2.1.min.js')
script(src='vendors/bootstrap/bootstrap.bundle.min.js')
script(src='vendors/owl-carousel/owl.carousel.min.js')
script(src='vendors/nice-select/jquery.nice-select.min.js')
script(src='vendors/Magnific-Popup/jquery.magnific-popup.min.js')
script(src='js/jquery.form.js')
script(src='js/jquery.validate.min.js')
script(src='js/contact.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
