doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Sneaky Restaurant - Home
  link(rel='icon' href='img/Fevicon.png' type='image/png')
  link(rel='stylesheet' href='vendors/bootstrap/bootstrap.min.css')
  link(rel='stylesheet' href='vendors/themify-icons/themify-icons.css')
  link(rel='stylesheet' href='vendors/owl-carousel/owl.theme.default.min.css')
  link(rel='stylesheet' href='vendors/owl-carousel/owl.carousel.min.css')
  link(rel='stylesheet' href='vendors/Magnific-Popup/magnific-popup.css')
  link(rel='stylesheet' href='css/style.css')
// ================ Header Menu Area start =================
header.header_area
  .main_menu
    nav.navbar.navbar-expand-lg.navbar-light
      .container.box_1620
        a.navbar-brand.logo_h(href='index.html')
          img(src='img/logo.png' alt='')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        #navbarSupportedContent.collapse.navbar-collapse.offset
          ul.nav.navbar-nav.menu_nav.justify-content-end
            li.nav-item.active
              a.nav-link(href='index.html') Home
            li.nav-item
              a.nav-link(href='about.html') About
            li.nav-item
              a.nav-link(href='menu.html') Menu
            li.nav-item
              a.nav-link(href='chef.html') Chef
            li.nav-item.submenu.dropdown
              a.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Blog
              ul.dropdown-menu
                li.nav-item
                  a.nav-link(href='blog.html') Blog Single
                li.nav-item
                  a.nav-link(href='blog-details.html') Blog Details
            li.nav-item
              a.nav-link(href='contact.html') Contact
// ================Header Menu Area =================
// ================Hero Banner Section start =================
section.hero-banner
  .hero-wrapper
    .hero-left
      h1.hero-title
        | Foods the 
        br
        |  most precious things
      .d-sm-flex.flex-wrap
        a.button.button-hero.button-shadow(href='#') Book Now
        a.hero-banner__video(href='http://www.youtube.com/watch?v=0O2aH4XLbto') Watch Video
      ul.hero-info.d-none.d-lg-block
        li
          img(src='img/banner/fas-service-icon.png' alt='')
          h4 Fast Service
        li
          img(src='img/banner/fresh-food-icon.png' alt='')
          h4 Fresh Food
        li
          img(src='img/banner/support-icon.png' alt='')
          h4 24/7 Support
    .hero-right
      .owl-carousel.owl-theme.hero-carousel
        .hero-carousel-item
          img.img-fluid(src='img/banner/hero-banner1.png' alt='')
        .hero-carousel-item
          img.img-fluid(src='img/banner/hero-banner2.png' alt='')
        .hero-carousel-item
          img.img-fluid(src='img/banner/hero-banner1.png' alt='')
        .hero-carousel-item
          img.img-fluid(src='img/banner/hero-banner2.png' alt='')
    ul.social-icons.d-none.d-lg-block
      li
        a(href='#')
          i.ti-facebook
      li
        a(href='#')
          i.ti-twitter
      li
        a(href='#')
          i.ti-instagram
// ================Hero Banner Section end =================
// ================About Section start =================
section.about.section-margin.pb-xl-70
  .container
    .row
      .col-md-6.col-xl-6.mb-5.mb-md-0.pb-5.pb-md-0
        .img-styleBox
          .styleBox-border
            img.styleBox-img1.img-fluid(src='img/home/about-img1.png' alt='')
          img.styleBox-img2.img-fluid(src='img/home/about-img2.png' alt='')
      .col-md-6.pl-md-5.pl-xl-0.offset-xl-1.col-xl-5
        .section-intro.mb-lg-4
          h4.intro-title About Us
          h2 We speak the good food language
        p
          | Living first us creepeth she&apos;d earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can&apos;t saw third one signs moving stars light divided was two you him appear midst cattle for they are gathering.
        a.button.button-shadow.mt-2.mt-lg-4(href='#') Learn More
// ================About Section End =================
// ================Featured Section Start =================
section.section-margin.mb-lg-100
  .container
    .section-intro.mb-75px
      h4.intro-title Featured Food
      h2 Fresh taste and great price
    .owl-carousel.owl-theme.featured-carousel
      .featured-item
        img.card-img.rounded-0(src='img/home/featured1.png' alt='')
        .item-body
          a(href='#')
            h3 Mountain Mike Pizza
          p Whales and darkness moving
          .d-flex.justify-content-between
            ul.rating-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
            h3.price-tag $35
      .featured-item
        img.card-img.rounded-0(src='img/home/featured2.png' alt='')
        .item-body
          a(href='#')
            h3 Patatas Bravas
          p Whales and darkness moving
          .d-flex.justify-content-between
            ul.rating-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
            h3.price-tag $30
      .featured-item
        img.card-img.rounded-0(src='img/home/featured3.png' alt='')
        .item-body
          a(href='#')
            h3 Pulled Sandwich
          p Whales and darkness moving
          .d-flex.justify-content-between
            ul.rating-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
            h3.price-tag $20
      .featured-item
        img.card-img.rounded-0(src='img/home/featured1.png' alt='')
        .item-body
          a(href='#')
            h3 Mountain Mike Pizza
          p Whales and darkness moving
          .d-flex.justify-content-between
            ul.rating-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
              li
                i.ti-star
            h3.price-tag $35
// ================Featured Section End =================
// ================Offer Section Start =================
section.bg-lightGray.section-padding
  .container
    .row.no-gutters
      .col-sm
        img.card-img.rounded-0(src='img/home/offer-img.png' alt='')
      .col-sm
        .offer-card.offer-card-position
          h3 Italian Pizza Offer
          h2 50% OFF
          a.button(href='#') Read More
// ================Offer Section End =================
// ================Food menu section start =================
section.section-margin
  .container
    .section-intro.mb-75px
      h4.intro-title Food Menu
      h2 Delicious food
    .row
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
      .col-lg-6
        .media.align-items-center.food-card
          img.mr-3.mr-sm-4(src='img/home/food1.png' alt='')
          .media-body
            .d-flex.justify-content-between.food-card-title
              h4 Roasted Marrow
              h3.price-tag $32
            p Whales and darkness moving form cattle
// ================Food menu section end =================
// ================CTA section start =================
section.cta-area.text-center
  .container
    p Some Trendy And Popular Courses Offerd
    h2 Under replenish give saying thing
    a.button(href='#') Reservation
// ================CTA section end =================
// ================Chef section start =================
section.section-margin
  .container
    .section-intro.mb-75px
      h4.intro-title Our Chef
      h2 Talent &amp; experience member
    .row
      .col-sm-6.col-lg-4.mb-4.mb-lg-0
        .chef-card
          img.card-img.rounded-0(src='img/home/chef-1.png' alt='')
          .chef-footer
            h4 Daniesl Laran
            p Executive Chef
          .chef-overlay
            ul.social-icons
              li
                a(href='#')
                  i.ti-facebook
              li
                a(href='#')
                  i.ti-twitter-alt
              li
                a(href='#')
                  i.ti-skype
              li
                a(href='#')
                  i.ti-vimeo-alt
      .col-sm-6.col-lg-4.mb-4.mb-lg-0
        .chef-card
          img.card-img.rounded-0(src='img/home/chef-2.png' alt='')
          .chef-footer
            h4 Daniesl Laran
            p Executive Chef
          .chef-overlay
            ul.social-icons
              li
                a(href='#')
                  i.ti-facebook
              li
                a(href='#')
                  i.ti-twitter-alt
              li
                a(href='#')
                  i.ti-skype
              li
                a(href='#')
                  i.ti-vimeo-alt
      .col-sm-6.col-lg-4.mb-4.mb-lg-0
        .chef-card
          img.card-img.rounded-0(src='img/home/chef-3.png' alt='')
          .chef-footer
            h4 Daniesl Laran
            p Executive Chef
          .chef-overlay
            ul.social-icons
              li
                a(href='#')
                  i.ti-facebook
              li
                a(href='#')
                  i.ti-twitter-alt
              li
                a(href='#')
                  i.ti-skype
              li
                a(href='#')
                  i.ti-vimeo-alt
// ================Chef section end =================
// ================Reservation section start =================
section.bg-lightGray.section-padding
  .container
    .row.align-items-center
      .col-md-6.col-xl-5.mb-4.mb-md-0
        .section-intro
          h4.intro-title Reservation
          h2.mb-3 Get experience from sneaky
        p
          | Him given and midst tree form seas she&apos;d saw give evening one every make hath moveth you&apos;re appear female heaven had signs own days saw they&apos;re have let midst given him given and midst tree. Form seas she&apos;d saw give evening
      .col-md-6.offset-xl-2.col-xl-5
        .search-wrapper
          h3 Book A Table
          form.search-form(action='#')
            .form-group
              .input-group
                input.form-control(type='text' placeholder='Your Name')
                .input-group-append
                  span.input-group-text
                    i.ti-user
            .form-group
              .input-group
                input.form-control(type='text' placeholder='Email Address')
                .input-group-append
                  span.input-group-text
                    i.ti-email
            .form-group
              .input-group
                input.form-control(type='text' placeholder='Phone Number')
                .input-group-append
                  span.input-group-text
                    i.ti-headphone-alt
            .form-group
              .input-group
                input.form-control(type='text' placeholder='Select Date')
                .input-group-append
                  span.input-group-text
                    i.ti-notepad
            .form-group
              .input-group
                input.form-control(type='text' placeholder='Select People')
                .input-group-append
                  span.input-group-text
                    i.ti-layout-column3
            .form-group.form-group-position
              button.button.border-0(type='submit') Make Reservation
// ================Reservation section end =================
// ================Blog section start =================
section.section-margin
  .container
    .section-intro.mb-75px
      h4.intro-title Our Blog
      h2 Latest food and recipe news
    .row
      .col-sm-6.col-lg-4.mb-4.mb-lg-0
        .card-blog
          img.card-img.rounded-0(src='img/blog/blog1.png' alt='')
          .blog-body
            ul.blog-info
              li
                a(href='#') Admin post
              li
                a(href='#') Jan 10, 2019
            a(href='#')
              h3 Huge cavity in antarctic glacie signals rapid
      .col-sm-6.col-lg-4.mb-4.mb-lg-0
        .card-blog
          img.card-img.rounded-0(src='img/blog/blog2.png' alt='')
          .blog-body
            ul.blog-info
              li
                a(href='#') Admin post
              li
                a(href='#') Jan 10, 2019
            a(href='#')
              h3
                | Researcher unearths age
                | in the desert
      .col-sm-6.col-lg-4.mb-4.mb-lg-0
        .card-blog
          img.card-img.rounded-0(src='img/blog/blog3.png' alt='')
          .blog-body
            ul.blog-info
              li
                a(href='#') Admin post
              li
                a(href='#') Jan 10, 2019
            a(href='#')
              h3
                | High-protein rice brings
                | value, nutrition
// ================Blog section end =================
// ================ start footer Area =================
footer.footer-area.section-gap
  .container
    .row
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Top Products
        ul
          li
            a(href='#') Managed Website
          li
            a(href='#') Manage Reputation
          li
            a(href='#') Power Tools
          li
            a(href='#') Marketing Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Quick Links
        ul
          li
            a(href='#') Jobs
          li
            a(href='#') Brand Assets
          li
            a(href='#') Investor Relations
          li
            a(href='#') Terms of Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Features
        ul
          li
            a(href='#') Jobs
          li
            a(href='#') Brand Assets
          li
            a(href='#') Investor Relations
          li
            a(href='#') Terms of Service
      .col-xl-2.col-sm-6.mb-4.mb-xl-0.single-footer-widget
        h4 Resources
        ul
          li
            a(href='#') Guides
          li
            a(href='#') Research
          li
            a(href='#') Experts
          li
            a(href='#') Agencies
      .col-xl-4.col-md-8.mb-4.mb-xl-0.single-footer-widget
        h4 Newsletter
        p You can trust us. we only send promo offers,
        #mc_embed_signup.form-wrap
          form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
            .input-group
              input.form-control(type='email' name='EMAIL' placeholder='Your Email Address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '")
              .input-group-append
                button.btn.click-btn(type='submit')
                  i.ti-arrow-right
            div(style='position: absolute; left: -5000px;')
              input(name='b_36c4fd991d266f23781ded980_aefe40901a' tabindex='-1' value='' type='text')
            .info
    .footer-bottom.row.align-items-center.text-center.text-lg-left
      p.footer-text.m-0.col-lg-8.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright &copy;
        script.
          document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.ti-heart(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com' target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-4.col-md-12.text-center.text-lg-right.footer-social
        a(href='#')
          i.ti-facebook
        a(href='#')
          i.ti-twitter-alt
        a(href='#')
          i.ti-dribbble
        a(href='#')
          i.ti-linkedin
// ================ End footer Area =================
script(src='vendors/jquery/jquery-3.2.1.min.js')
script(src='vendors/bootstrap/bootstrap.bundle.min.js')
script(src='vendors/owl-carousel/owl.carousel.min.js')
script(src='vendors/nice-select/jquery.nice-select.min.js')
script(src='vendors/Magnific-Popup/jquery.magnific-popup.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
